In [1]:
import pandas as pd

In [22]:
# trzba doinstalować
!pip install lxml html5lib tabulate

Requirement already satisfied: lxml in c:\users\lemur\desktop\szkolenie_comarch\kod\.venv\lib\site-packages (6.0.1)
Requirement already satisfied: html5lib in c:\users\lemur\desktop\szkolenie_comarch\kod\.venv\lib\site-packages (1.1)
Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Requirement already satisfied: webencodings in c:\users\lemur\desktop\szkolenie_comarch\kod\.venv\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\lemur\desktop\szkolenie_comarch\kod\.venv\lib\site-packages (from html5lib) (1.17.0)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0

[notice] A new release of pip available: 22.2.2 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pd.read_sql("select * from tabelka", db_con) # dane z zapytania SQL z bazy podłączonej via db_con

NameError: name 'db_con' is not defined

In [12]:
html = """
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Przykładowa Tabela</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #333;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h2 style="text-align:center;">Przykładowa Tabela</h2>

    <table>
        <thead>
            <tr>
                <th>Kolumna 1</th>
                <th>Kolumna 2</th>
                <th>Kolumna 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Wiersz 1, Kol 1</td>
                <td>Wiersz 1, Kol 2</td>
                <td>Wiersz 1, Kol 3</td>
            </tr>
            <tr>
                <td>Wiersz 2, Kol 1</td>
                <td>Wiersz 2, Kol 2</td>
                <td>Wiersz 2, Kol 3</td>
            </tr>
            <tr>
                <td>Wiersz 3, Kol 1</td>
                <td>Wiersz 3, Kol 2</td>
                <td>Wiersz 3, Kol 3</td>
            </tr>
            <tr>
                <td>Wiersz 4, Kol 1</td>
                <td>Wiersz 4, Kol 2</td>
                <td>Wiersz 4, Kol 3</td>
            </tr>
            <tr>
                <td>Wiersz 5, Kol 1</td>
                <td>Wiersz 5, Kol 2</td>
                <td>Wiersz 5, Kol 3</td>
            </tr>
        </tbody>
    </table>

</body>
</html>

"""

In [14]:
df_list = pd.read_html(html) # lista data freme'ów odczytanych z htmla
df_list

C:\Users\lemur\AppData\Local\Temp\ipykernel_10768\3113695039.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_list = pd.read_html(html) # lista data freme'ów odczytanych z htmla

[         Kolumna 1        Kolumna 2        Kolumna 3
 0  Wiersz 1, Kol 1  Wiersz 1, Kol 2  Wiersz 1, Kol 3
 1  Wiersz 2, Kol 1  Wiersz 2, Kol 2  Wiersz 2, Kol 3
 2  Wiersz 3, Kol 1  Wiersz 3, Kol 2  Wiersz 3, Kol 3
 3  Wiersz 4, Kol 1  Wiersz 4, Kol 2  Wiersz 4, Kol 3
 4  Wiersz 5, Kol 1  Wiersz 5, Kol 2  Wiersz 5, Kol 3]

In [15]:
len(df_list)

1

In [17]:
df_list[0]

         Kolumna 1        Kolumna 2        Kolumna 3
0  Wiersz 1, Kol 1  Wiersz 1, Kol 2  Wiersz 1, Kol 3
1  Wiersz 2, Kol 1  Wiersz 2, Kol 2  Wiersz 2, Kol 3
2  Wiersz 3, Kol 1  Wiersz 3, Kol 2  Wiersz 3, Kol 3
3  Wiersz 4, Kol 1  Wiersz 4, Kol 2  Wiersz 4, Kol 3
4  Wiersz 5, Kol 1  Wiersz 5, Kol 2  Wiersz 5, Kol 3

In [18]:
markdown = """
| Kolumna 1       | Kolumna 2       | Kolumna 3       |
|-----------------|-----------------|-----------------|
| Wiersz 1, Kol 1 | Wiersz 1, Kol 2 | Wiersz 1, Kol 3 |
| Wiersz 2, Kol 1 | Wiersz 2, Kol 2 | Wiersz 2, Kol 3 |
| Wiersz 3, Kol 1 | Wiersz 3, Kol 2 | Wiersz 3, Kol 3 |
| Wiersz 4, Kol 1 | Wiersz 4, Kol 2 | Wiersz 4, Kol 3 |
| Wiersz 5, Kol 1 | Wiersz 5, Kol 2 | Wiersz 5, Kol 3 |
"""

In [25]:
print(df_list[0].to_markdown(index=False))

| Kolumna 1       | Kolumna 2       | Kolumna 3       |
|:----------------|:----------------|:----------------|
| Wiersz 1, Kol 1 | Wiersz 1, Kol 2 | Wiersz 1, Kol 3 |
| Wiersz 2, Kol 1 | Wiersz 2, Kol 2 | Wiersz 2, Kol 3 |
| Wiersz 3, Kol 1 | Wiersz 3, Kol 2 | Wiersz 3, Kol 3 |
| Wiersz 4, Kol 1 | Wiersz 4, Kol 2 | Wiersz 4, Kol 3 |
| Wiersz 5, Kol 1 | Wiersz 5, Kol 2 | Wiersz 5, Kol 3 |